.commenti {
    border-style:outset;
    border-color:rgb(216, 166, 48);
    margin-bottom: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
}