*{
    
    background-color: rgb(250, 115, 115);
}



.Homepage {
    display: block;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.Bottone {
    display: block;
    background-color: green;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    border-style: dashed;
    border-color: rgb(201, 75, 75);
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 3mm;
    border-width: 2mm;
}

.postTitle {
    font-size: 30px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    display: block;
    border-style:groove;
    border-color: rgb(201, 75, 75);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3mm;
    border-width: 2mm;
    background-color: bisque;
}

.postDescription {
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    display: block;
    background-color: bisque;
    border-radius: 3mm;
    border-width: 2mm;
}

.postUsername {
    font-size: 20px;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    display: block;
    margin-right: 2mm;
    background-color: bisque;

}

.singlePost {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    background-color: bisque;
    border-style:ridge;
    border-color: rgb(128, 20, 20);
    padding: 4px;
    margin-bottom: 5mm;
    margin-top: 5mm;
    border-radius: 9px;
}

.loggedIn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}

#createPost {
    font-style: oblique;
}
