.Menu {
    position: fixed;
    background-color: rgb(250, 115, 115);;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    box-sizing: border-box;
    gap: 2vh;
    left:0;
    top:0;
}

.start {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}