.postTitle {
    font-size: 30px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    display: block;
    border-style:groove;
    border-color: rgb(201, 75, 75);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3mm;
    border-width: 2mm;
    background-color: bisque;
}

.postDescription {
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    display: block;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: bisque;
    border-radius: 3mm;
    border-width: 2mm;
}

.bottoni {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.singlePost {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    background-color: bisque;
    border-style:ridge;
    border-color: rgb(128, 20, 20);
    padding: 4px;
    margin-bottom: 5mm;
    margin-top: 5mm;
    border-radius: 9px;
}

.postUsername {
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-style:outset;
    border-color: rgb(231, 207, 177);
    margin:0;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: bisque;

}



.delete {
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-style:outset;
    border-color: rgb(231, 207, 177);
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: bisque;
}

.date {
    display: block;
    text-align: right;
    background-color: bisque;
    margin-right: 3px;
    margin-bottom: 5px;
}